<!doctype html>
<title>{% block title %}{% endblock %} - HPCAS Host Allocation</title>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/global.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type=text/javascript src="{{url_for('static', filename='js/variables.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/functions.js')}}"></script>



<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    <body>
        <!-- INESC IMAGE AND WELCOME PAGE -->
        <div class="imgcontainer">
            <img src="{{url_for('static', filename='img/INESCID_logo.png')}}" alt="Avatar" class="avatar">
        </div>
        
        <h1><span class="welcome">Welcome to the HPCAS Resource Allocation Page</span></h1>


        {% block navbar %} {% endblock %}
        
        {% block flashes %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        {% endblock %}
        
        {% block body %} {% endblock %}
    </body>
    <footer>
        <!-- <nav role="navigation">
            <ul class="nav-ul">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Technologies</a></li>
                <li><a href="#">Projects</a></li>
            </ul>
        </nav> -->
        <p class="copy">&copy; João Guerreiro 2020</p>
    </footer>
</section>