{% extends 'layouts/base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/vanillaSelectBox.css')}}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <script type=text/javascript src="{{url_for('static', filename='js/vanillaSelectBox.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/edit_db.js')}}"></script>

    {% if current_user.super_user == 1 %}
    <!-- ONLY IMPORT JAVASCRIPT IF USER IS ADMIN -->
        <script type=text/javascript src="{{url_for('static', filename='js/edit_db_admin.js')}}"></script>
    {% endif %}
{% endblock %}


{% block body %}
    <!-- HOSTS TABLE -->
    <div class="container">
        <p><span class="div-title">List of Hosts</span></p>
        <div class="my-div">
            <form name="edit_host_form" onsubmit="return false">
                <div class="hosts-table">
                    <div class="row">
                        <div class="col header">Hostname</div>
                        <div class="col header">IP</div>
                        <div class="col header">CPU</div>
                        <div class="col header">GPU</div>
                        <div class="col header">FPGA</div>
                        <div class="col header">Next 7 days</div>
                    </div>

                    <!-- LOOP FOR EACH HOST IN THE DB -->
                    {% for host in hosts %}
                    <hr class="special-hr"/>
                    <div class="row">
                        {% set hostname = host[0] %} <!--hostname-->
                        {% set host_cpu = host[2] | int %} <!--cpuID of the host-->
                        {% set host_num_gpus = host[3] | int %} <!--number of gpus in the host-->
                        {% set host_num_fpgas = host[4] | int %} <!--number of fpgas in the host-->
                        {% set host_gpus = all_hostgpus[hostname] %} <!--list of gpuIDs in the host-->
                        {% set host_fpgas = all_hostfpgas[hostname] %} <!--list of fpgaIDs in the host-->

                        <!-- LOOP ACROSS EACH ENTRY OF THE HOST -->
                        {% for field_i in range(0, 5) %}

                            {% if field_i == 2 %}
                                <!-- CPU -->
                                
                                {% if current_user.super_user == 1 %}
                                    <div class="tooltip">
                                        <select class="smaller" id={{ hostname ~ "_cpu"}} name={{ hostname ~ "_cpu" }} size="1">
                                            <!-- Confirm is the Host has a CPU allocated. If it's the default put placeholder in the select (IMPORTANT: SQLITE Autoincrement starts at 1)-->
                                            {% if host_cpu == 0 %}
                                                <option disabled selected value style="display:none"> -- Select -- </option>
                                            {% endif %}

                                            <!-- Fill the select with the available CPUs -->
                                            {% for cpu_j in range(0,num_cpus) %}
                                                <!-- If the CPU is the currently allocated for that Host, make it the selected value -->
                                                {% if cpu_ids[cpu_j] == host_cpu %}
                                                    <option selected value={{cpu_ids[cpu_j]}}>{{cpus[cpu_j]}}</option>
                                                {% else %}
                                                    <option value={{cpu_ids[cpu_j]}}>{{cpus[cpu_j]}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="tooltiptext" id={{ hostname ~ "_cpu_tooltiptext"}}></span>
                                    </div>
                                {% else %}
                                    <div class="col" id={{ hostname ~ "_cpu"}} name={{ hostname ~ "_cpu" }} style="overflow: hidden;text-overflow: ellipsis;display: block;"></div>
                                {% endif %}

                            {% elif field_i == 3 %}
                                <!-- GPU  -->

                                {% if current_user.super_user == 1 %}
                                    <div class="tooltip">
                                        <select class="smaller" id={{ hostname ~ "_gpu"}} name={{ hostname ~ "_gpu" }} multiple size="1">
                                            {% for gpu_j in range(0,num_gpus) %}
                                                {% if gpu_ids[gpu_j] in host_gpus %}
                                                    <option selected value={{gpu_ids[gpu_j]}}>{{gpus[gpu_j]}}</option>
                                                {% else %}
                                                    <option value={{gpu_ids[gpu_j]}}>{{gpus[gpu_j]}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="tooltiptext" id={{ hostname ~ "_gpu_tooltiptext"}}></span>
                                    </div>
                                {% else %}
                                    <div class="col" id={{ hostname ~ "_gpu"}} name={{ hostname ~ "_gpu" }} style="overflow: hidden;text-overflow: ellipsis;display: block;"></div>
                                {% endif %}

                            {% elif field_i == 4 %}
                                <!-- FPGA -->

                                {% if current_user.super_user == 1 %}
                                    <div class="tooltip">
                                        <select class="smaller" id={{ hostname ~ "_fpga"}} name={{ hostname ~ "_fpga" }} multiple size="1">
                                            {% for fpga_j in range(0,num_fpgas) %}
                                            {% if fpga_ids[fpga_j] in host_fpgas %}
                                            <option selected value={{fpga_ids[fpga_j]}}>{{fpgas[fpga_j]}}</option>
                                            {% else %}
                                            <option value={{fpga_ids[fpga_j]}}>{{fpgas[fpga_j]}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="tooltiptext" id={{ hostname ~ "_fpga_tooltiptext"}}></span>
                                    </div>
                                {% else %}
                                    <div class="col" id={{ hostname ~ "_fpga"}} name={{ hostname ~ "_fpga" }} style="overflow: hidden;text-overflow: ellipsis;display: block;"></div>                                    
                                {% endif %}
                            {% else %}
                                <div class="col" id={{ hostname ~ "_" ~ field_i }} name={{ hostname ~ "_" ~ field_i }}>{{ host[field_i] }}</div>
                            {% endif %}
                        {% endfor %}

                        <!-- Displays if host is free or not-->
                        {% set host_free = host[6] | int %}
                        <div class="col" style="text-align:center">
                            <div class="tooltip">
                                <span id={{ hostname~ "_day0" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day0_tooltiptext"}}></span>
                            </div>
                            <div class="tooltip">
                                <span id={{ hostname~ "_day1" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day1_tooltiptext"}}></span>
                            </div>
                            <div class="tooltip">
                                <span id={{ hostname~ "_day2" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day2_tooltiptext"}}></span>
                            </div>
                            <div class="tooltip">
                                <span id={{ hostname~ "_day3" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day3_tooltiptext"}}></span>
                            </div>
                            <div class="tooltip">
                                <span id={{ hostname~ "_day4" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day4_tooltiptext"}}></span>
                            </div>
                            <div class="tooltip">
                                <span id={{ hostname~ "_day5" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day5_tooltiptext"}}></span>
                            </div>
                            <div class="tooltip">
                                <span id={{ hostname~ "_day6" }} class="circle"></span>
                                <span class="tooltiptext" id={{ hostname ~ "_day6_tooltiptext"}}></span>
                            </div>
                        </div>
                        <!-- <div class="tooltip">
                            {% if host_free == 1 %}
                                <div class="col" name={{ hostname ~ "_" ~ 6 }}>Free</div> 
                            {% else %}
                                <div class="col" name={{ hostname ~ "_" ~ 6 }}>In use</div> 
                            {% endif %}
                            <span class="tooltiptext tipfree" id={{ hostname ~ "_free_tooltiptext"}}>
                                <div style="text-align:center">
                                    <span id={{ hostname~ "_day0" }}  class="circle"></span>
                                    <span id={{ hostname~ "_day1" }}  class="circle"></span>
                                    <span id={{ hostname~ "_day2" }}  class="circle"></span>
                                    <span id={{ hostname~ "_day3" }}  class="circle"></span>
                                    <span id={{ hostname~ "_day4" }}  class="circle"></span>
                                    <span id={{ hostname~ "_day5" }}  class="circle"></span>
                                    <span id={{ hostname~ "_day6" }}  class="circle"></span>
                                </div>
                            </span>
                        </div> -->

                        {% if current_user.super_user == 1 %}
                        <!-- ONLY SHOW BUTTONS IF USER IS ADMIN -->
                            <!-- Edit Host Button -->
                            <div class="col">
                                <button type="submit" class="editBtn" name="btnedit" value={{hostname}}>Edit</button>
                            </div>

                            <!-- Disable Host Button-->
                            <div class="col">
                                <button type="submit" class="disableBtn" name="btndisable" value={{hostname}}>Disable</button>
                            </div>

                            <!-- Remove Host Button-->
                            <div class="col">
                                <button type="submit" class="removeBtn" name="btnremove" value={{hostname}}>Remove</button>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <!-- Color the tooltip circles according to the host usage over the next week -->
                    <script>
                        var hosts = {{ hosts| safe }};
                        var hosts_usage = {{ hosts_usage| safe }};
                        for (let index = 0; index < hosts.length; index++) {
                            var host = hosts[index];
                            var hostname = host[0];
                            var host_usage = hosts_usage[hostname];
                            for (let i = 0; i<7; i++) {
                                str_aux = hostname + "_day" + i.toString();
                                if (host_usage[i] > 0) {
                                    console.log(str_aux);
                                    if (host_usage[i] == 1) {
                                        // FULL RESERVED
                                        document.getElementById(str_aux).style.background = "red";
                                        document.getElementById(str_aux+"_tooltiptext").innerHTML = res_types_1;
                                    } else {
                                        if (host_usage[i] == 2 || host_usage[i] == 3  || host_usage[i] == 6) {
                                            // PARTIALLY RESERVED
                                            document.getElementById(str_aux).style.background = "orange";
                                            if (host_usage[i] == 2) {
                                                document.getElementById(str_aux + "_tooltiptext").innerHTML = res_types_2;
                                            } else {
                                                if (host_usage[i] == 3) {
                                                    document.getElementById(str_aux + "_tooltiptext").innerHTML = res_types_3;
                                                } else {
                                                    document.getElementById(str_aux + "_tooltiptext").innerHTML = res_types_6;
                                                }
                                            }
                                            
                                        } else {
                                            // IN USE, BUT NOTHING IS RESERVED
                                            document.getElementById(str_aux).style.background = "yellow";
                                            document.getElementById(str_aux + "_tooltiptext").innerHTML = res_types_5;
                                        }
                                    }
                                } else {
                                    // FREE
                                    document.getElementById(str_aux + "_tooltiptext").innerHTML = res_types_0;
                                }
                            }
                        }
                    </script>

                    <!-- Make hostnames clickable and redirect to reservations page with host pre-selected -->
                    <script>
                        var hosts = {{ hosts| safe }};
                        for (let index = 0; index < hosts.length; index++) {
                            var host = hosts[index];
                            var hostname = host[0];
                            var name_aux = hostname + "_0";

                            document.getElementById(name_aux).classList.add("clickable");

                            $("#" + name_aux).click(function () {
                                // To send post message, create auxiliary form
                                const form = document.createElement('form');
                                form.method = "post";
                                form.action = "/reservations";

                                // Add field to the form
                                const hiddenField = document.createElement('input');
                                hiddenField.type = 'hidden';
                                hiddenField.name = "host";
                                hiddenField.value = this.textContent;
                                form.appendChild(hiddenField);
                                document.body.appendChild(form);

                                // submit form
                                form.submit();
                            });
                        }
                    </script>

                    {% if current_user.super_user == 1 %}
                    <!-- IF USER IS ADMIN -->

                        <!-- script for each host selects -->
                        <script>
                            var hosts = {{ hosts| safe }};
                            var cpus = {{ cpus| safe }};
                            var cpu_ids = {{ cpu_ids| safe }};
                            var gpus = {{ gpus| safe }};
                            var gpu_ids = {{ gpu_ids| safe }};
                            var fpgas = {{ fpgas| safe }};
                            var fpga_ids = {{ fpga_ids| safe }};

                            for (let index = 0; index < hosts.length; index++) {
                                var host = hosts[index];
                                var hostname = host[0];
                                
                                createCustomSelects(hostname, "cpu", "", cpus, cpu_ids, editdb_list_selects_cpu);
                                
                                // SELECT GPU
                                createCustomSelects(hostname, "gpu", "GPUs", gpus, gpu_ids, editdb_list_selects_gpu);
                                
                                // SELECT FPGA
                                createCustomSelects(hostname, "fpga", "FPGAs", fpgas, fpga_ids, editdb_list_selects_fpga);
                            }
                        </script>

                        <!-- Script for the buttons of each host -->
                        <script>
                            if (editdb_first_h) {
                                editdb_first_h = false;
                                var hosts   = {{ hosts|safe }};
                                var cpus    = {{ cpus|safe }};
                                var gpus    = {{ gpus|safe }};
                                var fpgas   = {{ fpgas|safe }};

                                // EDIT BUTTONS
                                var edit_buttons = document.getElementsByName("btnedit");
                                for (i = 0; i < edit_buttons.length; i++) {
                                    var but_aux_e = edit_buttons[i];
                                    but_aux_e.onclick = function () {
                                        editHost(this, cpus, gpus, fpgas);
                                    };
                                }

                                // DISABLE BUTTONS
                                var disable_buttons = document.getElementsByName("btndisable");
                                for (i = 0; i < disable_buttons.length; i++) {
                                    var but_aux_d = disable_buttons[i];
                                    var enabled = hosts[i][parseInt(editdb_idx_enabled)];
                                    // If host is disabled change Color and Text
                                    if (enabled == 0) {
                                        but_aux_d.style.background= "#a0c519";
                                        but_aux_d.innerHTML= "Enable";
                                    }

                                    but_aux_d.onclick = function () {
                                        toggleEnableHost(this.value);
                                    };
                                }
                                
                                // REMOVE BUTTONS
                                var remove_buttons = document.getElementsByName("btnremove");
                                for (i = 0; i < remove_buttons.length; i++) {
                                    var but_aux_r = remove_buttons[i];                           
                                    but_aux_r.onclick = function () {
                                        removeHost(this.value);
                                    };
                                }
                            }
                        </script>
                    {% else %}
                        <!-- IF USER IS NOT ADMIN -->
                        <script>
                            var hosts = {{ hosts| safe }};
                            var cpus = {{ cpus| safe }};
                            var cpu_ids = {{ cpu_ids| safe }};
                            var gpus = {{ gpus| safe }};
                            var gpu_ids = {{ gpu_ids| safe }};
                            var fpgas = {{ fpgas| safe }};
                            var fpga_ids = {{ fpga_ids| safe }};
                            var all_hostgpus = {{ all_hostgpus| safe }};
                            var all_hostfpgas = {{ all_hostfpgas| safe }};


                            for (let index = 0; index < hosts.length; index++) {
                                var host = hosts[index];
                                var hostname = host[0];
                            
                                var host_cpu = parseInt(host[2]);
                                var host_gpus = all_hostgpus[hostname];
                                var host_fpgas = all_hostfpgas[hostname];

                                fillSpanComponents(hostname, "cpu", host_cpu, cpus, cpu_ids);
                                fillSpanComponents(hostname, "gpu", host_gpus, gpus, gpu_ids);
                                fillSpanComponents(hostname, "fpga", host_fpgas, fpgas, fpga_ids);
                            }

                        </script>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    

    {% if current_user.super_user == 1 %}
    <!-- ONLY ALLOW ADDING NEW HOST IF USER IS ADMIN -->
        <!-- <hr> -->
        <div class="divider div-transparent"></div>


        <!-- ADD NEW HOST -->
        <div class="container">
            <p><span class="div-title">Add New Host</span></p>
            <div class="my-div">
                <form name="new_host_form" action="/new_host" method="post" onsubmit="return verifyNewHost()">
                    <div class="form-body host-form">
                        <div class="row">
                            
                            <!-- Hostname -->
                            <div class="col a">
                                <label for="hostname">Hostname</label>
                                <input type="text" name="hostname" id="hostname" class="form-control" placeholder="Hostname">
                            </div>

                            <!-- IP Address -->
                            <div class="col b">
                                <label for="ipaddr">IP ending</label>
                                <input type="text" name="ipaddr" id="ipaddr" class="form-control" placeholder="XXX">
                            </div>

                            <!-- CPU -->
                            <div class="col c">
                                <label for="cpu">CPU</label>
                                <select name="cpu" id="cpu">
                                    <option disabled selected value style="display:none"> -- Select -- </option>
                                    {%for i in range(0,num_cpus)%}
                                        <option value={{cpu_ids[i]}}>{{cpus[i]}}</option>
                                    {%endfor%}                            
                                </select>
                                <script>
                                    let mySelectcpu = new vanillaSelectBox("#cpu", {
                                        "maxHeight": 200
                                        // "placeHolder": "--Select--" 
                                    });
                                </script>
                            </div>

                            <!-- GPU -->
                            <div class="col d">
                                <label for="hasgpu">GPU</label> 
                                <select id="hasgpu" name="hasgpu" multiple size="1">
                                    {%for i in range(0,num_gpus)%}
                                        <option value={{gpu_ids[i]}}>{{gpus[i]}}</option>
                                    {%endfor%}
                                </select> 
                            <script> 
                                let mySelectgpu = new vanillaSelectBox("#hasgpu", {
                                        "maxHeight": 200,
                                        "placeHolder": "-- None --",
                                        translations: { "items": "GPUs" }
                                });
                            </script>

                            </div>
        
                            <!-- FPGA -->
                            <div class="col e">
                                <label for="hasfpga">FPGA</label>
                                <select id="hasfpga" name="hasfpga" multiple size="1">
                                    {%for i in range(0,num_fpgas)%}
                                        <option value={{fpga_ids[i]}}>{{fpgas[i]}}</option>
                                    {%endfor%}
                                </select>
                                <script>
                                    let mySelectfpga = new vanillaSelectBox("#hasfpga", { 
                                        "maxHeight": 200,
                                        "placeHolder": "-- None --",
                                        translations: {"items": "FPGAs"}
                                    });
                                </script>
                            </div>

                            <!-- Submit Button -->
                            <div class="col f">
                                <button type="submit" id="confirm_host" class="but_res">Confirm</button>
                            </div>
                        </div>            
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}