{% extends 'layouts/base_login.html' %}

{% block body %}
    <div class="container login-div">
        <form method="POST" action="{{ url_for('auth.login') }}" role="form">
            {{ form.csrf_token }}
            <div class="form-group">{{ form.username.label }}: {{ form.username() }}</div>
            <div class="form-group">{{ form.password.label }}: {{ form.password() }}</div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="container forgot-div">
            <!-- <button type="button" class="cancelbtn">Cancel</button> -->
            <span id="forgot" class="forgot"></span>
            <script>
                document.getElementById("forgot").innerHTML = `Forgot <a href="mailto: ${help_email}">password?</a>`
            </script>
        </div>
    </div>
<!-- </body> -->
{% endblock %}
