{% extends 'layouts/base_login.html' %}

{% block body %}
    <div class="container login-div">
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
        </form>

        <div class="container forgot-div">
            <span id="forgot" class="forgot"></span>
            <script>
                document.getElementById("forgot").innerHTML = `<a href="mailto: ${help_email}">Contact support  </a>`
            </script>
        </div>
    </div>
{% endblock %}
