{% extends 'layouts/base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/vanillaSelectBox.css')}}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vanillaSelectBox.js')}}"></script>
{% endblock %}


{% block body %}
    <!-- MAKE NEW RESERVATION -->
    <div class="container">
        <p><span class="div-title">Make new reservation</span></p>
        <div class="my-div">
            <form name="new_res_form" action="/new_reservation" method="post" onsubmit="return verifyReservation()">
                <div class="form-body">
                    <div class="row">
                        <div class="col a">
                            <label class="cell-label">Username</label>
                            <input type="text" name="username" id="username" class="form-control" value={{current_user.username}} disabled>
                        </div>

                        <div class="col b">
                            <label class="cell-label">Host</label>
                            <select name="host" id="host">
                                <option disabled selected value style="display:none"> -- select an option -- </option>
                                {% for host in hosts %}
                                    <option value={{host}}>{{host}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <script>
                            var select_host = new vanillaSelectBox("#host", {
                                "maxHeight": 300
                            });
                        </script>

                        <div class="col c">
                            <label class="cell-label">Reservation Type</label>
                            <select name="res_type" id="res_type">
                                <option disabled selected value style="display:none"> -- select an option -- </option>
                                {% for i in range(0, num_res_types) %}
                                    <option value={{res_type_ids[i]}}>{{res_types[i]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <script>
                            var select_restype = new vanillaSelectBox("#res_type", {
                                "maxHeight": 300
                            });
                        </script>
                    </div>

                    <div class="row">
                        <div class="col d">
                            <label class="cell-label">Duration (Start date - End date)</label>

                            <!-- DATERANGER PICKER -->
                            <input type="text" name="datetimes" class="input-daterangepicker">
                            <script>
                                $(function () {
                                    $('input[name="datetimes"]').daterangepicker({
                                        maxSpan: {"days": 7},
                                        timePicker: true,
                                        timePicker24Hour: true,
                                        timePickerIncrement: 1,
                                        startDate: moment().startOf('hour'),
                                        endDate: moment().startOf('hour').add(32, 'hour'),
                                        locale: {
                                            format: 'YYYY-MM-DD HH:mm'
                                        }
                                    });
                                });
                            </script>
                        </div>                
                        
                        <div class="col e">
                            <button type="submit" id="confirm_res" class="but_res">Confirm Reservation</button>                                                                              
                        </div>

                        <div class="col f">
                            <p id="timezone"></p>
                            <p id="curr_time"></p>
                            <script>
                                // Function that padds the month or day or minutes with a 0 (on the left)
                                function addZero(i) {
                                    if (i < 10) {
                                        i = "0" + i;
                                    }
                                    return i;
                                }
                                var offset = -(new Date().getTimezoneOffset() / 60);
                                var d = "Use Lisbon Time (GMT+" + offset + "):";
                                var today = new Date();
                                var date = today.getFullYear() + '-' + addZero((today.getMonth()) + 1) + '-' + addZero(today.getDate());
                                var time = addZero(today.getHours()) + ":" + addZero(today.getMinutes());
                                document.getElementById("timezone").innerHTML = d;
                                document.getElementById("curr_time").innerHTML = "\t" + date + " " + time;
                            </script>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
      
    <!-- <hr> -->
    <div class="divider div-transparent"></div>


    <!-- LIST OF CURRENT RESERVATIONS -->
    <div  class="container">
        <p><span class="div-title">List of current reservations</span></p>
        <div class="my-div">
            <form name="cancel_res_form" onsubmit="return false">
                <div class="res-table">
                    <div class="row">
                        <div class="col header">Hostname</div>
                        <div class="col header">Username</div>
                        <div class="col header">Reservation Type</div>
                        <div class="col header">Start Date</div>
                        <div class="col header">End Date</div>
                    </div>
                    {% for res in curr_res %}
                        <hr/>
                        <div class="row">
                            {% for i in range(0, 5) %}
                                <div class="col">{{res[i]}}</div>
                            {% endfor %}
                            <div class="col">
                                {% if current_user.super_user == 1 %}
                                    <button type="submit" class="cancelBtn" name="btncancel" value={{res[5]}}>Cancel</button>
                                {% elif current_user.username == res[1] %}
                                    <button type="submit" class="cancelBtn" name="btncancel" value={{res[5]}}>Cancel</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <script>
                        // Need to get the reservation ID to tell the server which one shoulld be canceled
                        if (first_b) {
                            first_b = false;
                            var cancel_buttons = document.getElementsByName("btncancel");
                            for (i = 0; i < cancel_buttons.length; i++) {
                                var but_aux = cancel_buttons[i];
                                but_aux.onclick = function () {
                                    cancelReservation(this.value);
                                };
                            }
                        }
                    </script>
                </div>
            </form>
        </div>
    </div>

    <!-- <hr> -->
    <div class="divider div-transparent"></div>
    
    
    <!-- LIST OF FREE HOSTS -->
    <div class="container">
        <p><span class="div-title">List of currently free hosts</span></p>
        <div class="free-div">
            <ul class="l-free-hosts">
                {% for host in free_hosts %}
                    <li>{{ host }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // allow clicking on the list of free hosts to select the host for the new reservation
            if (first_h) {
                first_h = false;
                list_free_hosts = document.querySelector("ul");
                list_free_hosts.addEventListener(
                    "click",
                    function (ev) {
                        var h_aux = ev.target.firstChild.data;
                        changeHostSelected(h_aux);
                    },
                    false
                );
            }
        </script>
    </div>
{% endblock %}