{% extends 'layouts/base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/vanillaSelectBox.css')}}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vanillaSelectBox.js')}}"></script>
    {% if current_user.super_user == 1 %}
        <!-- ONLY IMPORT JAVASCRIPT IF USER IS ADMIN -->
        <script type=text/javascript src="{{url_for('static', filename='js/edit_db_admin.js')}}"></script>
    {% endif %}
{% endblock %}


{% block body %}
    <!-- MAKE NEW RESERVATION -->
    <div class="container">
        <p><span class="div-title">Make new reservation</span></p>
        <div class="my-div">
            <form name="new_res_form" action="/new_reservation" method="post" onsubmit="return verifyReservation()">
                <div class="form-body">
                    <div class="row">
                        <div class="col a">
                            <label class="cell-label">Username</label>
                            <input type="text" name="username" id="username" class="form-control" value={{current_user.username}} disabled>
                        </div>

                        <div class="col b">
                            <label class="cell-label">Host</label>
                            <select name="host" id="host">
                                <option disabled selected value style="display:none"> -- select an option -- </option>
                                {% for host in hosts %}
                                    {% set hostname = host["hostname"]%}
                                    {% set host_id = host["id"]%}
                                    {% if presel_host == hostname %}
                                        <option selected value={{host_id}}>{{hostname}}</option>
                                    {% else %}
                                        <option value={{host_id}}>{{hostname}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <script>        
                            console.log({{ presel_host|tojson }});       
                            var select_host = new vanillaSelectBox("#host", {
                                "maxHeight": 300
                            });
                        </script>

                        <div class="col c">
                            <label class="cell-label">Reservation Type</label>
                            <select name="res_type" id="res_type">
                                <option disabled selected value style="display:none"> -- select an option -- </option>
                                {% for res in res_types %}
                                    {% set res_id = res["id"] %}
                                    {% set res_name = res["name"] %}
                                    <option value={{ res_id }}> {{ res_name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <script>
                            var select_restype = new vanillaSelectBox("#res_type", {
                                "maxHeight": 300
                            });
                        </script>
                    </div>

                    <div class="row">
                        <div class="col d">
                            <label class="cell-label">Duration (Start date - End date)</label>

                            <!-- DATERANGER PICKER -->
                            <input type="text" name="datetimes" class="input-daterangepicker">
                            <script>
                                $(function () {
                                    $('input[name="datetimes"]').daterangepicker({
                                        maxSpan: {"days": 7},
                                        timePicker: true,
                                        timePicker24Hour: true,
                                        timePickerIncrement: 30,
                                        startDate: moment().startOf('hour'),
                                        endDate: moment().startOf('hour').add(32, 'hour'),
                                        locale: {
                                            format: 'YYYY-MM-DD HH:mm'
                                        }
                                    });
                                });
                            </script>
                        </div>                
                        
                        <div class="col e">
                            <button type="submit" id="confirm_res" class="but_res">Confirm Reservation</button>                                                                              
                        </div>

                        <div class="col f">
                            <p id="timezone"></p>
                            <p id="curr_time"></p>
                            <script>
                                // Function that padds the month or day or minutes with a 0 (on the left)
                                function addZero(i) {
                                    if (i < 10) {
                                        i = "0" + i;
                                    }
                                    return i;
                                }
                                var offset = -(new Date().getTimezoneOffset() / 60);
                                var d = "Use Lisbon Time (GMT+" + offset + "):";
                                var today = new Date();
                                var date = today.getFullYear() + '-' + addZero((today.getMonth()) + 1) + '-' + addZero(today.getDate());
                                var time = addZero(today.getHours()) + ":" + addZero(today.getMinutes());
                                document.getElementById("timezone").innerHTML = d;
                                document.getElementById("curr_time").innerHTML = "\t" + date + " " + time;
                            </script>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
      
    <!-- <hr> -->
    <div class="divider div-transparent"></div>


    <!-- LIST OF CURRENT RESERVATIONS -->
    <div  class="container">
        <p><span class="div-title">List of current reservations</span></p>
        <div class="my-div">
            <form name="cancel_res_form" onsubmit="return false">
                <div class="res-table">
                    <div class="row">
                        <div class="col header">Hostname</div>
                        <div class="col header">Username</div>
                        <div class="col header">Reservation Type</div>
                        <div class="col header">Start Date</div>
                        <div class="col header">End Date</div>
                    </div>
                    {% for res in curr_res %}
                        <hr/>
                        <div class="row">
                            <div class="col">{{res["hostname"]}}</div>
                            <div class="col">{{res["username"]}}</div>
                            <div class="col">{{res["name"]}}</div>
                            <div class="col">{{res["begin_date"]}}</div>
                            <div class="col">{{res["end_date"]}}</div>

                            <div class="col">
                                {% if current_user.super_user == 1 %}
                                    <button type="submit" class="cancelBtn" name="btncancel" value={{res["id"]}}>Cancel</button>
                                {% elif current_user.username == res["username"] %}
                                    <button type="submit" class="cancelBtn" name="btncancel" value={{res["id"]}}>Cancel</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <script>
                        // Need to get the reservation ID to tell the server which one shoulld be canceled
                        if (first_b) {
                            first_b = false;
                            var cancel_buttons = document.getElementsByName("btncancel");
                            for (i = 0; i < cancel_buttons.length; i++) {
                                var but_aux = cancel_buttons[i];
                                but_aux.onclick = function () {
                                    cancelReservation(this.value);
                                };
                            }
                        }
                    </script>
                </div>
            </form>
        </div>
    </div>

    <!-- <hr> -->
    <div class="divider div-transparent"></div>
    
    <div class="container">
        <p><span class="div-title">List of Reservation Types</span></p>
        <div class="my-div">
            <form name="res_types_form" onsubmit="return false">
                <div class="restype-table">
                    <!-- LOOP FOR EACH HOST IN THE DB -->
                    {% for res in res_types %}
                        {% set res_id = res["id"] %}
                        {% set res_name = res["name"] %}
                        {% set res_description = res["description"] %}
                        <!-- <div class="row">
                            <div class="col header">ID</div>
                            <div class="col" name={{ res_id ~ "_id" }}>{{ res_id }}</div>
                        </div> -->
                        <div class="row">
                            <!-- <div class="col header">Name</div> -->
                            <div class="col header" name={{ res_id ~ "_name" }}>{{ res_name }}</div>
                        </div>
                        <div class="row">
                            <!-- <div class="col header">Description</div> -->
                            <div class="col" name={{ res_id ~ "_description" }}>{{ res_description }}</div>
                        </div>
                        
                            
            
                        {% if current_user.super_user == 1 %}
                            <div class="row-buts">

                                <!-- ONLY SHOW BUTTONS IF USER IS ADMIN -->
                                <div class="col">
                                </div>
                                <!-- Edit Button -->
                                <div class="col">
                                    <button type="submit" class="editBtn" name="btnedit" value={{res_id}}>Edit</button>
                                </div>
                                <!-- Remove Button-->
                                <div class="col">
                                    <button type="submit" class="removeBtn" name="btnremove" value={{cpu_id}}>Remove</button>
                                </div>
                            </div>
                        {% endif %}
                        <!-- <hr class="special-hr" style="margin-top: 16px; margin-bottom: 16px;"/> -->
                        <hr />
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    {% if current_user.super_user == 1 %}
    <!-- ONLY SHOW BUTTONS IF USER IS ADMIN -->
        <!-- Script for the buttons of each reservation type -->
        <script>
            if (restypes_first) {
                restypes_first = false;
                var res_types = {{ res_types| safe }};

                // EDIT BUTTONS
                var edit_buttons = document.getElementsByName("btnedit");
                for (i = 0; i < edit_buttons.length; i++) {
                    var but_aux_e = edit_buttons[i];
                    but_aux_e.onclick = function () {
                        editResType(this);
                    };
                }

                // REMOVE BUTTONS
                var remove_buttons = document.getElementsByName("btnremove");
                for (i = 0; i < remove_buttons.length; i++) {
                    var but_aux_r = remove_buttons[i];
                    but_aux_r.onclick = function () {
                        removeResType(this.value);
                    };
                }
            }
        </script>
    {% endif %}

    <!-- LIST OF FREE HOSTS -->
    <!-- <div class="container">
        <p><span class="div-title">List of currently free hosts</span></p>
        <div class="free-div">
            <ul class="l-free-hosts">
                {% for host in free_hosts %}
                    <li>{{ host }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // allow clicking on the list of free hosts to select the host for the new reservation
            if (first_h) {
                first_h = false;
                list_free_hosts = document.querySelector("ul");
                list_free_hosts.addEventListener(
                    "click",
                    function (ev) {
                        var h_aux = ev.target.firstChild.data;
                        changeHostSelected(h_aux);
                    },
                    false
                );
            }
        </script>
    </div> -->
{% endblock %}