.hosts-table {
  max-width: inherit;
}

.hosts-table .row {
  grid-column: 1 / -1;
  display: grid;
  /* grid-template-columns: repeat(9, minmax(0, 1fr)); */
  /* grid-template-columns: 1fr 8% repeat(3, 1fr) 2fr repeat(3, 8%); */
  /* grid-template-columns: 2fr 1fr repeat(3, 2fr) 3fr repeat(3, 1fr); */
  grid-template-columns: 12.5% 6.25% repeat(3, 12.5%) 19% repeat(3, 8.25%);
}

.hosts-table .col {
  border-radius: 5px;
  padding: 0px;
  font-size: 100%;
  align-self: center;
  text-align: center;
  color: var(--color_2);
}

.hosts-table .col.clickable {
  color: var(--inesc_blue);
  text-decoration: underline;
}
.hosts-table .col.clickable:hover{
  cursor: pointer;
}

.hosts-table .col.header{
  font-weight: bold;
}

.editBtn, .disableBtn, .removeBtn {
  padding: 3px 5px;
  margin: 2px 0;
}

.editBtn {
  background-color: var(--color_buttons_edit);
}

.disableBtn {
  background-color: var(--color_buttons_cancel);
}

.special-hr {
  margin: 0 0;
}

.form-body.host-form {
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.form-body.host-form .row {
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.form-body.comp-form {
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.form-body.comp-form .row {
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.new-h-label {
  font-size: 55%;
}

/* #mySelectcpu, #mySelectgpu, #mySelectfpga {
  padding: 0 0;
  margin: 0 0;
  width: 95%;
} */

#myInputip {
  padding: 0 0;
  margin: 0 0;
  width: 50%;
  align-self: center;
  text-align: center;
}

/* .removeBtn {
  background-color: var(--base01);
} */


.comps-table {
  max-width: inherit;
}

.comps-table .row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.comps-table .col {
  border-radius: 5px;
  padding: 0px;
  font-size: 100%;
  align-self: center;
  text-align: center;
  color: var(--color_2);
}

.comps-table .col.header{
  font-weight: bold;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background: var(--inesc_green);
}