.container.login-div {
    border: 3px solid var(--color_10);
}

.container.forgot-div {
  background-color: var(--color_10);
  display: inline-block;
  padding: 3px;
  /* float: right; */
}

/* The "Forgot password" text */
span.forgot {
  padding: 4px;
}
