.form-label{
    font-size: 16pt;
    color: var(--color_10);
    padding-left: 10px;
}

.form-body {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  /* background-color: #fff; */
  color: #444;
  max-width: inherit;
}

.form-body .row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  /* vertical-align: bottom; */
  /* align-self: end; */
}
/* 
div:nth-child(4) { grid-row-start: 2; }
div:nth-child(5) { grid-row-start: 3; } */

.form-body .col {
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;
  align-self: end;
}

.form-body .col.f {
    font-size: 100%;
}

.col.f p {
    float: right;
    margin: 0px;
    margin-bottom: 8px;
}



.cell-label {
    text-align:right;
    margin-bottom:0;
    /* padding-top:7px; */
    font-size:16px;
    font-weight: bold;
    /* color: var(--base02); */
    color: var(--color_2);
}

select option {
    background: var(--color_1);
}



/* DATERANGEPICKER STUFF */
.input-daterangepicker {
    font-size: 47%;
}

td.active.start-date.available, td.active.end-date.available {
    background-color: var(--color_10) !important;
}
td.in-range.available {
    background-color: var(--color_10) !important;
}
/* select.hourselect, select.minuteselect {
    background-image: url(../img/noisy_textures/sol_base2.png) !important;
} */

.cancelBtn, .applyBtn {
    width: auto !important;
}
.cancelBtn {
    background-color: var(--color_buttons_cancel) !important;
}



span.drp-selected {
    font-weight: bold;
}

.res-table {
  max-width: inherit;
}

.res-table .row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.res-table .col {
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
    align-self: center;
    text-align: center;
    color: var(--color_2)
}

.res-table .col.header{
    font-weight: bold;
}


/* LIST FREE HOSTS */
.free-div {
  padding-bottom: 20px;
}

/* Remove margins and padding from the list */
.l-free-hosts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the list items */
.l-free-hosts li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  /* background: rgb(186, 188, 189); */
  background: var(--color_1);
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.l-free-hosts li:nth-child(odd) {
  background: var(--color_2);
}

/* Darker background-color on hover */
.l-free-hosts li:hover {
  background: var(--color_3);
}
